.panel {
  background-color: var(--panel-bg);
  height: 72vh;
  width: 80vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.qr {
  border-radius: 20px;
  width: 100%;
}

.text {
  padding: 0.5rem;
  text-align: center;
}

.title {
  font-size: 25px;
  color: var(--panel-fg);
}

.paragraph {
  color: var(--panel-text);
  font-size: 18px;
}
