:root {
  --background: hsl(212, 45%, 89%);
  --panel-bg: hsl(0, 0%, 100%);
  --panel-fg: hsl(218, 44%, 22%);
  --panel-text: hsl(220, 15%, 55%);
}

body {
  background-color: var(--background);
  height: 100vh;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
